html, body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
line-height: 1.6;
}
.up {
    max-width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 140px;
}
.img {
    min-width: 400px;
    max-width: 30%;
    width: auto;
    margin: auto;
    margin-top: 20px;
    border: none;
}
#title {
    font-size: 22px;
    margin: auto;
    min-width: 200px;
    max-width: 30%;
    width: auto;
    margin-bottom: 30px;
    background-color: #00bfff;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
#description {
    font-size: 16px;
    color: #777777;
    margin: 20px;
}
.border {
    border-bottom: 2px solid #e9e9e9;
    margin: 15px;
}
.block {
    border: 2px solid #e3e3e3;
    border-radius: 20px;
    margin: 15px;
    padding: 10px 15px;
}
.block p {
    margin-left: 10px;
    margin-right: 10px;
}
.block h2 {
    margin: auto;
    margin-top: 7px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #00bfff;
    text-align: center;
    max-width: 300px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.header {
    z-index: 9999999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.container {
    box-sizing: border-box;
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.header--inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 140px;
}

.menu--list {
	display: flex;
	align-items: center;
	gap: 0 65px;
}

.header--img {
    height: 120px;
    width: auto;
}

@media (max-width: 480px) {
    #title {
        min-width: 400px;
    }
}